* {
    box-sizing: border-box;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li{
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
body{
    font-family: Verdana, Arial, sans-serif;
    background-color: #f7f7f7;
}
h1{
    margin-top: 4em;
}
h2{
    margin: 1em;
}
h1, h2{
    text-align: center;
    color: blue;
}
h1, h2, select{
    margin-bottom: 1em;
}
select{
    display: block;
    margin: 0 auto;
}
button{
    font-size: larger;
    color: blue;
    width: 10em;
    margin-bottom: 1em;
    display: inline;
}
select,option{
    font-size: large;
}
select{
    margin-bottom: 1em;
}
form{
    margin: 0 auto;
    border: 2px aqua solid;
    max-width: 1200px;
}
div{
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}


